{extend name="/common@body" /}{block name="main"}
<div class="page-container">
<form class="form form-horizontal js_super_form" method="post" action="baseprice" autocomplete="off" enctype="multipart/form-data">
	<div id="tab-system" class="HuiTab">
		<div class="tabBar cl">
				<span class="current">定价管理</span>
		</div>
	<div class="modal-body">
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">当前最低竞价：</label>
			<div class="formControls col-xs-5 col-sm-2">
				¥{$baseprice}/CPM
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">设置竞价起步：</label>
			<div class="formControls col-xs-5 col-sm-2">
				<input type="number" class="input-text" value="{$baseprice}"  name="baseprice" required="true" min="10">/CPM
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">当前最低单价：</label>
			<div class="formControls col-xs-5 col-sm-2">
				¥{$basecpc}/CPC
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">设置最低单价：</label>
			<div class="formControls col-xs-5 col-sm-2">
				<input type="number" step="0.01" class="input-text" value="{$basecpc}"  name="basecpc" required="true">/CPC
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<a href="/basic/basic/baseprice.html" class="btn btn-default">取消</a>
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>	
</form>
</div>
{/block}