{extend name="/common@body" /}{block name="main"}

<div class="codeView docs-example">
            <div class="btn-group">
              <span class="btn btn-default radius"><a href="http://as.cloud.cnfol.com/index/index/getRedisinfo" target="_blank">查看redis信息</a></span>
              <span class="btn btn-default radius"><a href="http://as.cloud.cnfol.com/index/index/getAllkeys" target="_blank">查看redis keys信息</a></span>
              <span class="btn btn-default radius"><a href="http://as.cloud.cnfol.com/index/index/getUserinfo" target="_blank">查看redis 用户信息</a></span>
              <span class="btn btn-default radius"><a href="http://as.cloud.cnfol.com/index/index/getAdsense" target="_blank">查看redis 广告位信息</a></span>
              <span class="btn btn-default radius"><a href="http://as.cloud.cnfol.com/index/index/getAdvertisement" target="_blank">查看redis 广告信息</a></span>
              <span class="btn btn-default radius"><a href="http://as.cloud.cnfol.com/index/index/getMaterial" target="_blank">查看redis 素材信息</a></span>
            </div>
</div>

{/block}
