{extend name="/common@body" /}{block name="main"}
<?php
echo widget('common/filter/formWithoutId', [/*参数数组*/
[/*第一个参数*/
widget('common/filter/input', ['账号', 'username'])
]
]);
?>
<div class="js_super_table">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
            <button class="btn btn-success js_operate" title="添加代理商" data-title="添加代理商" data-callback="layer_model" data-url="<?= url('model_add'); ?>"><i class="Hui-iconfont Hui-iconfont-add"></i> 添加代理商</button>
			<button class="btn btn-danger js_operate" data-ids=".js_super_table .js_checkbox:checked" data-confirm="1" title="批量删除" data-title="批量删除" data-url="<?= url('operate_status_11') ?>"><i class="Hui-iconfont Hui-iconfont-suoding"></i> 批量删除</button>
		</span>
	</div>
<div class="mt-20">
	<div class="dataTables_wrapper">
	<?=widget('common/page/render',['page' => $page,'param'=>$param]);?>
		<table class="table table-border table-bordered table-bg table-hover table-striped dataTable">
			<thead>
			<tr class="text-c">
				<th width="15px;">
					<label for="Ca"><input type="checkbox" id="Ca" class="js_checkbox" data-type="parent" value="0"/></label>
				</th>
				<th>代理商ID</th>
				<th>账号</th>
				<th>代理商昵称</th>
				<th>账户余额</th>
				<th>账户状态</th>
				<th width="220">操作</th>
			</tr>
			</thead>
			<tbody>
			<?php
			foreach($list as $k => $row){
			?>
			<tr class="text-c" >
				<td>
					<label for="info_<?=$row['id'];?>"><input id="info_<?=$row['id'];?>" type="checkbox" class="js_checkbox" data-type="child" value="<?=$row['id'];?>"></label>
				</td>
				<td>{$row['id']}</td>
				<td>{$row['username']|default=''}</td>
				<td>{$row['nick']|default=''}</td>
				<td>{$row['account']}</td>
				{if condition="$row['status'] == 1"}
				<td>启用</td>
				{elseif condition="$row['status'] == 0"}
				<td>停用</td>
				{/if}
				
				<td>
					{if condition="$row['status'] == 1"}
					<button data-url="<?= url('model_edit') ?>" data-id="<?= $row['id'] ?>" data-callback="layer_model" class="btn size-MINI radius btn-secondary-outline js_operate" data-title="编辑" title="编辑">
					{else/}
					<button data-url="<?= url('model_edit') ?>" data-id="<?= $row['id'] ?>" data-callback="layer_model" class="btn size-MINI radius btn-secondary-outline js_operate disabled" data-title="编辑" title="编辑">
					{/if}
						编辑
					</button>
					<button data-url="<?= url('charge?id=') .$row['id'] ?>" data-id="<?php echo $row['id'] ?>" data-callback="layer_model" class="btn size-MINI radius btn-secondary-outline js_operate" data-title="充值" title="充值">
						充值
					</button>
					<!-- 管理员（目前是 role = 2 - 系统管理员 = 5 管理员的角色）不用显示认证的按钮-->
					{php}
						if(($row['role_id'] != 2 ) && ($row['role_id'] != 5) && ( !empty($license_auth[$row['id']]['status'])))
						{
					{/php}
					<button data-url="<?= url('auth_view') ?>" data-id="<?php echo $row['id'] ?>" data-callback="layer_model" class="btn size-MINI radius btn-secondary-outline js_operate" data-title="认证资料" title="认证资料">
						认证资料
					</button>
					{php}
						}
					{/php}
					{if condition="$row['status'] == 1"}
					<button data-url="<?= url('change_status?status=0') ?>" data-id="<?= $row['id'] ?>" data-confirm="1" class="btn size-MINI radius btn-danger-outline js_operate" data-title="停用" title="停用">
						停用
					</button>
					{else/}
					<button data-url="<?= url('change_status?status=1') ?>" data-id="<?= $row['id'] ?>" data-confirm="1" class="btn size-MINI radius btn-secondary-outline js_operate" data-title="启用" title="启用">
						启用
					</button>
					{/if}

					<button data-url="<?= url('operate_status_11') ?>" data-id="<?= $row['id'] ?>" data-confirm="1" class="btn size-MINI radius btn-danger-outline js_operate" data-title="删除" title="删除">
						<i class="Hui-iconfont Hui-iconfont-del3"></i>
					</button>
				</td>
			</tr>
				<?php
			}
			?>
			</tbody>
		</table>
		<?=widget('common/page/render',['page' => $page,'param'=>$param]);?>
	</div>
</div>
</div>


{/block}
