{extend name="/common@body" /}{block name="main"}
<?php
echo widget('common/filter/form', [/*参数数组*/
[/*第一个参数*/
widget('common/filter/input', ['订单号', 'deal_no']),
widget('common/filter/input', ['手机号', 'tel']),
widget('common/filter/date_range', ['交易时间', 'create']),
widget('common/filter/select', ['状态', 'status', $status]),
]
]);
?>
<div class="page-container">
	<!-- <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="r">
			<a class="btn btn-warning-outline radius" href="<?= url('excel_out'); ?>"><i class="Hui-iconfont Hui-iconfont-down"></i>导出</a>
		</span>
	</div> -->
	<div class="mt-20">
		<div class="dataTables_wrapper">
			<?= widget('common/page/render', ['page' => $page, 'param' => $param]); ?>
			<table class="table table-border table-bordered table-bg table-hover table-striped dataTable">
				<thead>
				<tr class="text-c">
					<th class="th_check_id">
						<label for="Ca"><input type="checkbox" id="Ca" class="js_checkbox" data-type="parent" value="0" /></label>
					</th>
					<th class="th_id <?=$thead['id']['class'];?>" data-url="<?=$thead['id']['url'];?>">编号</th>
					<th class="">订单号</th>
					<th class="">用户ID</th>
					<th class="">手机号</th>
					<th class="<?=$thead['unit_money']['class'];?>" data-url="<?=$thead['unit_money']['url'];?>">交易价格</th>
					<th class="<?=$thead['num']['class'];?>" data-url="<?=$thead['num']['url'];?>">交易量</th>
					<th class="<?=$thead['money']['class'];?>" data-url="<?=$thead['money']['url'];?>">交易金额</th>
					<th class="<?=$thead['fee']['class'];?>" data-url="<?=$thead['fee']['url'];?>">手续费</th>
					<th class="<?=$thead['total']['class'];?>" data-url="<?=$thead['total']['url'];?>">总计</th>
					<th class=" <?=$thead['create_time']['class'];?>" data-url="<?=$thead['create_time']['url'];?>">交易时间</th>
					<th >操作</th>
					<th class="">交易状态</th>			
				</tr>
				</thead>
				<tbody>
				<?php
				foreach ($list as $row) {
				?>
				<tr class="text-c">
					<td>
						<label for="info_<?= $row->id ?>"><input id="info_<?= $row->id ?>" type="checkbox" class="js_checkbox" data-type="child" value="<?= $row->id ?>"></label>
					</td>
					<td><?= $row->id; ?></td>
					<td><?= $row->deal_no; ?></td>
					<td><?= $row->userid; ?></td>
					<td><?= encode_tel($row['user']['tel']); ?></td>
					<td><?= $row->unit_money; ?></td>
					<td><?= $row->num; ?></td>
					<td><?= $row->money; ?></td>
					<td><?= $row->fee; ?></td>
					<td><?= $row['total']; ?></td>
					<td><?= date('Y.m.d H:i',strtotime($row->create_time)); ?></td>
					<td>
						<button data-url="<?= url('model_deal'); ?>" data-id="<?= $row['id']; ?>" class="btn size-MINI js_operate btn-success-outline" data-callback="layer_model" data-title="查看" title="查看">
							<i class=" Hui-iconfont Hui-iconfont-manage"></i>
						</button>
						{if condition="$row['status'] == 0"}
						<button data-url="<?= url('model_lock'); ?>" data-id="<?= $row['id']; ?>" class="btn size-MINI js_operate btn-success-outline" title="取消交易" data-title="取消交易"  data-callback="layer_confirm">
							<i class=" Hui-iconfont Hui-iconfont-close"></i>
						</button>
						{/if}
					</td>
					<td>
					{if condition="$row['status'] == 1"}
					已完成
					{elseif condition="$row['status'] == 2"/}
					已撤单
					{elseif condition="$row['status'] == 3"/}
					取消交易
					{elseif condition="$row['status'] == 4"/}
					待付款
					{else/}
					挂单中
					{/if}
					</td>
				</tr>
				<?php
				}
				?>
				</tbody>
			</table>
			<?= widget('common/page/render', ['page' => $page, 'param' => $param]); ?>
		</div>
	</div>
</div>{/block}

