.calendar{position:relative;display:none;border:1px
solid #ddd;font-size:11px;color:#666;cursor:default;background:white;font-family:arial;padding:2px;padding-left:3px;width:180px;width:200px\9;overflow:hidden;z-index:9999}.calendar
iframe{left:-2px !important;top:-2px !important}.calendar
table{font-size:12px;color:#666;cursor:default;background:white;table-layout:auto;font-family:tahoma,verdana,sans-serif;overflow:visible}.calendar
.button{text-align:center;border:1px
solid #fff}.calendar thead
.title{display:block;position:relative;padding:1px;color:#000;text-align:center}.calendar thead
.headrow{}.calendar thead
.daynames{border-left:1px solid #E5ECF9}.calendar thead
.name{padding:0;text-align:center;background:#E5ECF9}.calendar thead
.weekend{color:#f00;color:#666}.calendar thead
.hilite{cursor:pointer}.calendar thead
.active{border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000;background:#b8c0c4}.calendar tbody
.day{width:20px;text-align:center;border:1px
solid #ddd}.calendar
table{border-collapse:collapse}.calendar table
.wn{padding:2px
3px 2px 2px;border-right:1px solid #000;background:#e8f4f0}.calendar tbody .rowhilite
td{background:#d8e4e0}.calendar tbody .rowhilite
td.wn{background:#c8d4d0}.calendar tbody
td.hilite{background-color:#f7f4df}.calendar tbody
td.active{padding:1px
1px 0px 1px;border:1px
solid;border-color:#000 #fff #fff #000}.calendar tbody
td.today{font-weight:bold;color:#f00}.calendar tbody
td.selected{font-weight:bold;background:#008000;color:#fff}.calendar tbody
td.weekend{}.calendar tbody
.disabled{color:#999}.calendar tbody
.emptycell{visibility:hidden}.calendar tbody
.emptyrow{display:none}.calendar tfoot
.footrow{}.calendar tfoot
.ttip{background:#fff;padding:1px;background:#fff;color:#777;text-align:left}.calendar tfoot
.hilite{border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff;padding:1px;background:#d8e0e4}.calendar tfoot
.active{padding:2px
0px 0px 2px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.combo{position:absolute;display:none;width:4em;top:0px;left:0px;height:110px;width:50px;cursor:default;border-top:1px solid #fff;border-right:1px solid #000;border-bottom:1px solid #000;border-left:1px solid #fff;background:#d8e0e4;font-size:smaller;padding:1px;overflow-y:scroll}.combo
.label{text-align:center;padding:1px;height:18px;line-height:18px}.combo
.active{background:white;padding:0px;border-top:1px solid #000;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #000}.combo
.hilite{background:#048;color:#aef}.headrow .button
a{display:block;width:20px;height:20px;background:url(/static/calendar/img/calendarBg.png) no-repeat}.headrow .button
#objyprev{background-position:5px 6px}.headrow .button
#objynext{background-position:8px -26px}.headrow .button
#objmprev{background-position:6px -92px}.headrow .button
#objmnext{background-position:8px -59px}.headrow .button
#objclose{width:20px;background-position:3px -123px}.calendar
.footClear{color:#116abd;text-align:center;cursor:pointer;line-height:20px}