
.btn-upload {
    position: relative;
    display: inline-block;
    height: 36px;
    *display: inline;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer
}

.upload-url {
    cursor: pointer;
    position: static;
}

.input-file {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
    font-size: 30em;
    *font-size: 30px;
    opacity: 0;
    filter: alpha(opacity=0)
}

/*.btn-upload .input-text{ width:auto}*/
.form-group .upload-btn {
    margin-left: -1px
}
/*模拟Iframe宽度
body{width: 1109px;}*/
/*调整字体
label,.placeholder{font-size: 12px;}*/
/*标题不换行*/
.js_super_table th{white-space: nowrap}
.js_super_table th.th_check_id{width:15px;}
.js_super_table th.th_id{width:56px;}
.js_super_table th.th_time{width:70px;}
.js_super_table th.th_operate{width:80px;}
.js_super_table th.th_image{width:210px;}
.js_super_table th.th_title{width:200px;}
.js_super_table th.th_switch{width:50px;}
.js_super_table th.th_category{width:150px;}
.js_super_table th.th_sort{width:50px;}
.js_super_table th.th_status{width:50px;}
.js_super_table th.th_real_name{width:50px;}
.js_super_table th.th_count{width:50px;}
.js_super_table th.th_nickname{width:81px;}
.js_super_table th.th_ip{width:90px;}
.js_super_table th.th_type{width:60px;}
.js_super_table td input.js_operate{text-align:center;}
/*去掉间距*/
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
table{
    table-layout:fixed;
}
.js_super_table tr a:visited {
    color: grey;
}