<form class="form form-horizontal js_super_form" method="post" action="<?=$action?>" autocomplete="off" enctype="multipart/form-data">
	<input type="hidden" name="id" value="<?=$info['id']?>"/>
	<div class="modal-body">
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">角色分组：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<span class="select-box">
				<select name="role_id" class="select" title="角色分组" >
					<option data-level="0" data-parent="0" value="3" <?=$info['role_id']==3?'selected="selected"':'';?>>VIP</option>
					<!-- <option data-level="0" data-parent="0" value="4" <?=$info['role_id']==4?'selected="selected"':'';?>>普通</option>
					<option data-level="0" data-parent="0" value="5" <?=$info['role_id']==5?'selected="selected"':'';?>>管理员</option> -->
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">账户：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="text" class="input-text" value="<?=$info['username']?>" placeholder=""  name="username" required="true" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">登录密码：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="password" class="input-text" placeholder="******"  name="password"  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">广告主名：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="text" class="input-text" value="<?=$info['nick']?>" placeholder=""  name="nick" required="true">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">联系邮箱：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="email" class="input-text" value="<?=$info['email']?>" placeholder=""  name="email" required="true">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-2 col-sm-2">请输入手机号码：</label>
			<div class="formControls col-xs-5 col-sm-5">
				<input type="mobile" class="input-text" value="<?=$info['mobile']?>" placeholder=""  name="mobile" required="true">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default js_close_layer" >取消</button>
		<button type="submit" class="btn btn-primary">保存</button>
	</div>
</form>
<script>
$(function(){
	reasonTogg();
	function reasonTogg(){
	var reason=$("#reasonSel").val();
		console.log(reason);
		if(reason=="2"||reason=="4"){

			$("#reasonBox").show();
		}else{
			$("#reasonBox").hide();

		}


	}

})

</script>
