{extend name="/common@body" /}{block name="main"}
<input type="hidden" id="selected_adsenseid" value="{$selected_adsenseid}" />
<?php
echo widget('common/filter/formWithoutId', [/*参数数组*/
[/*第一个参数*/
widget('common/filter/input', ['编号', 'id']),
widget('common/filter/input', ['广告名称', 'title']),
widget('common/filter/ex_select', ['广告站点', 'adsiteid', $sites, 'my_site', 'onchange="loadPosition()"']),
widget('common/filter/ex_select', ['广告位', 'adsenseid', '', 'my_position']),
widget('common/filter/select', ['投放状态', 'status', $statuses]),
]
]);
?>
<div class="js_super_table">
	<div class="cl pd-5 bg-1 bk-gray mt-20" style="">
		<span class="l">
            <button class="btn btn-success js_operate" title="添加广告" data-title="添加广告" data-callback="layer_model" data-url="<?= url('model_add'); ?>"><i class="Hui-iconfont Hui-iconfont-add"></i> 添加广告</button>
			<!--<button class="btn btn-danger js_operate" data-ids=".js_super_table .js_checkbox:checked" data-confirm="1" title="批量删除" data-title="批量删除" data-url="<?= url('operate_status_11') ?>"><i class="Hui-iconfont Hui-iconfont-suoding"></i> 批量删除</button>-->
		</span>
	</div>
<div class="mt-20">
	<div class="dataTables_wrapper">
	<?=widget('common/page/render',['page' => $page,'param'=>$param]);?>
		<table class="table table-border table-bordered table-bg table-hover table-striped dataTable">
			<thead>
			<tr class="text-c">
				<th width="15px;">
					<label for="Ca"><input type="checkbox" id="Ca" class="js_checkbox" data-type="parent" value="0"/></label>
				</th>
				<th>广告ID</th>
				<th>广告名称</th>
				<th>投放形式</th>
				<th>所属站点</th>
				<th>所属广告位</th>
				<th>投放者</th>
				<th>素材ID</th>
				<th>广告位尺寸</th>
				<th>启停状态</th>
				<th>投放状态</th>
				<th>投放时段</th>
				<th>创建时间</th>
				<th width="">操作</th>
			</tr>
			</thead>
			<tbody>
			<?php
			foreach($list as $k => $row){
			?>
			<tr class="text-c" >
				<td>
					<label for="info_<?=$row['id'];?>"><input id="info_<?=$row['id'];?>" type="checkbox" class="js_checkbox" data-type="child" value="<?=$row['id'];?>"></label>
				</td>
				<td>{$row['id']}</td>
				<td>{$row['title']|default=''}</td>
				<td>
					{switch name="$row.project_type"}
					{case value="1"}文字{/case}
					{case value="2"}图片{/case}
					{case value="3"}图文{/case}
					{/switch}
				</td>
				<td>{$row['sitename']}</td>
				{if condition="$row.sensename neq ''"}
				<td>{$row['sensename']}</td>
				{else/}
				<td>无固定广告位</td>
				{/if}
				<td>{$row['real_name']}</td>
				<td>{$row['materialid']}</td>
				<td>{$row['width']}*{$row['height']}</td>
				{if condition="$row['running_status'] == 1"}
					<td>启用</td>
				{else if condition="$row['running_status'] eq 2"}
					<td>停止</td>
				{/if}
				<td style="text-align: center;">
                    {if condition="$row.status eq 2"}
                    即将投放
                    {elseif condition="$row.status eq 3"}
                    投放中
                    {elseif condition="$row.status eq 4"}
                    已结束
					{/if}
				</td>
				{php}
				$show_time = str_replace(',', ' <br />至<br /> ', $row['time']);
				{/php}
				<td style="text-align: center;">{$show_time}</td>
				<td>{$row['create_time']}</td>
				<td>
					<a class="btn size-MINI radius btn-secondary-outline" title="预览" href="{$preview . $row['materialid']}" target="_blank">
						预览
					</a>
					<!--<button class="btn btn-success js_operate" title="添加广告" data-title="添加广告" data-callback="layer_model" data-url="<?= url('model_add'); ?>"><i class="Hui-iconfont Hui-iconfont-add"></i> 添加广告</button>-->
					<a class="btn size-MINI radius btn-secondary-outline js_operate" data-callback="layer_model" title="编辑" data-url="{:url('edit?aid=') . $row['id']}">
						编辑
					</a>
					{if condition="$row['running_status'] == 1"}
					<button data-url="<?= url('change_status?running_status=2') ?>" data-id="<?= $row['id'] ?>" data-confirm="1" class="btn size-MINI radius btn-danger-outline js_operate" data-title="停用" title="停用">
						<!--<i class="Hui-iconfont Hui-iconfont-close"></i>-->
						停用
					</button>
					{else/}
					<button data-url="<?= url('change_status?running_status=1') ?>" data-id="<?= $row['id'] ?>" data-confirm="1" class="btn size-MINI radius btn-danger-outline js_operate" data-title="启用" title="启用">
						<!--<i class="Hui-iconfont Hui-iconfont-xuanze"></i>-->
						启用
					</button>
					{/if}
					<!--<button data-url="<?= url('operate_status_11') ?>" data-id="<?= $row['id'] ?>" data-confirm="1" class="btn size-MINI radius btn-danger-outline js_operate" data-title="删除" title="删除">-->
						<!--<i class="Hui-iconfont Hui-iconfont-del3"></i>-->
					<!--</button>-->
				</td>
			</tr>
				<?php
			}
			?>
			</tbody>
		</table>
		<?=widget('common/page/render',['page' => $page,'param'=>$param]);?>
	</div>
</div>
    <!-- 弹出层 id 标记 -->
	<div id="advertise_layerid" style="display:block"></div>
</div>
<script>
    function add_choosed_material_list(id, title)
    {
        var div = $('<div id="id'+ id +'">');
        var span = $('<span class="info_material_choosed" style="display:inline-block;width:200px;">').text(title);
        var a = $("<a class='red' style='display:inline-block;padding:0 5px 0 5px;color:red;' onclick=\"del(this, "+ id +")\">").text('删除');
        var preview = $("<a target='_blank' style='display:inline-block;padding:0 5px 0 5px;' href=\"{:config('review')}" + id +"\">" ).text('预览');
        var modify_btn = gen_edit_btn(id, title);
        var br = $("<br />");
        $("#material_list").hide();
        $("#material_list").append(div.append(span).append(preview).append(modify_btn).append(a).append(br));
        $("#material_list").show();
    }
    function del(obj, id)
    {
        layer.confirm('删除之后无法恢复，您确定要删除吗？', {title:false, closeBtn:0}, function(index){
            obj.parentNode.remove();
            advertisement_material_pop(id);
            layer.close(index);
        });
    }
    /*
    素材添加回调函数
    */
    function advertisement_material_func(data) {
        add_choosed_material_list(data.data.id, data.data.material_title);
        shift(data.data.id);
        if(data.code !== 1)
        {
            layer.msg(data.msg, {icon:5});
        }
    }

    /**
     * 弹出元素
     */
    function advertisement_material_pop(id){
        var str_mid = "";
        var mid = $("#materialid").val();
        var mid_arr = mid.split("|");
        var id = id.toString();
        var pos = $.inArray(id, mid_arr);
        mid_arr.splice(pos, 1);
        str_mid = mid_arr.join("|");
        $("#materialid").val(str_mid);
    }

    /*
     * 插入元素
     */
    function shift(id){
        var str_mid = "";
        var mid = $("#materialid").val();
        if(mid == "")
        {
            str_mid += id;
            $("#materialid").val(str_mid);
            return 1;
        } else {
            var old_ids = mid.split("|");
            var pos = $.inArray(id.toString(), old_ids);
            if(pos == -1) {
                str_mid = mid + "|" + id;
                $("#materialid").val(str_mid);
                return 1;
            }
        }
        return 0;
    }

    /*
    素材添加回调函数
    */
    function func_list(list) {
        $("#material_list").hide();
        $.each(list, function(k, v){
            if(shift(k)) {
                add_choosed_material_list(k, v);
            } else {
                layer.msg("已忽略部分重复添加的素材", {icon:1});
            }
        });
        $("#material_list").show();
    }

    /**
     * 素材编辑回调函数
     */
    function advertisement_material_update_func(data)
    {
        $("#id" + data.data.id).remove();
        advertisement_material_pop(data.data.id);
        advertisement_material_func(data);
    }


    /**
     * 创建"修改"按钮
     */
    function gen_edit_btn(id, title)
    {
        var project_type = $("#project_type").val();
        var modify_bth = '';
        if(project_type == 3)
        {
            modify_bth = $("<a href='javascript:void(0)' onclick='edit_material_ajax(this);'   data-href=\"{:url('edit_info_material?callback=update_func')}"+ '&material_id=' + id +"\" class=\"edit_material_btn\">" ).text('修改');
        } else if(project_type == 2)
        {
            modify_bth = $("<a href='javascript:void(0)' onclick='edit_material_ajax(this);'  data-href=\"{:url('edit_image_material?callback=update_func')}"+ '&material_id=' + id +"\" class=\"edit_material_btn\">" ).text('修改');
        } else if(project_type == 1)
        {
            modify_bth = $("<a href='javascript:void(0)' onclick='edit_material_ajax(this);' data-href=\"{:url('edit_text_material?callback=update_func')}"+ '&material_id=' + id +"\" class=\"edit_material_btn\">" ).text('修改');
        }
        return modify_bth;
    }


    // 编辑的时候加载选中的素材
    function load_choosed_material()
    {
        var mid = $("#materialid").val();
        var choosed_material_data = $("#choosed_material_data").val();
        var choosed_obj = new Array();
        var choosed_arr = choosed_material_data.split("|")
        $("#material_list").hide();
        $.each(choosed_arr, function(k, v){
            var arr = v.split(",");
            add_choosed_material_list(arr[0], arr[1]);
        });
        $("#material_list").show();
    }

    // 加载所有广告位
    function loadAdPosition()
    {
        var adsite = $("#adsiteid").val();
        var project_type = $("#project_type").val();
        // 清零
        // debug
        console.log('清理广高为：');
        $('#adsenseid').html("");
        // debug
        console.log($('#adsenseid').html);

        $("#adsenseid").append($("<option value='-1'>").text("请选择"));

        $.ajax({
            method: "POST",
            url: "{:url('innerads/getAdPosition')}",
            data: {adsiteid:adsite, project_type:project_type}
        }).done(function(data){
            eval("var data=" + data + "");
            var options = '';
            $.each(data, function(i, item){
                var option = $("<option>").val(item.id).text(item.sensename);
                $('#adsenseid').append(option);
            })
        })
    }

    function resetChoosedMaterials(){
        $("#materialid").val("");
        $("#material_list").html("");
        $("#adsenseid").html("");
    }
</script>
<script>
    function checkform_text_material(){
        var material_title = $("#material_title").val();
        var material_content = $("#material_content").val();
        var click_url = $("#click_url").val();
        var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
        var regex = new RegExp(expression);
        if(!material_title){
            layer.msg("素材名称不能为空", {icon:5});
            return false;
        } else if(!material_content){
            layer.msg("标题不能为空", {icon:5});
            return false;
        } else if(!click_url || (!click_url.match(regex))){
            layer.msg("文字链接不能为空或格式不正确", {icon:5});
            return false;
        } else {
            return true;
        }
    }

    // 添加文字素材操作
    function submit_text_material(){
        var _form = $("#add_text_material_form");
        var _action = $("#add_text_material_form").attr("action");
        if(!checkform_text_material())
        {
            return false;
        }
        $.ajax({
            type: "POST",
            url: _form.attr("action"),
            data: _form.serialize(),
            dataType: 'json',
            success: function(res) {
                if(res.code == 1){
                    advertisement_material_func(res);
                    var i = $("#advertise_layerid").attr("data-closeid");
                    layer.close(i);
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            },
            error: function(msg){
                console.log(msg)
            }
        });
    }

    function submit_edit_text_material(){
        var _form = $("#add_text_material_form");
        var _action = $("#add_text_material_form").attr("action");
        if(!checkform_text_material())
        {
            return false;
        }
        $.ajax({
            type: "POST",
            url: _form.attr("action"),
            data: _form.serialize(),
            dataType: 'json',
            success: function(res) {
                if(res.code == 1){
                    advertisement_material_update_func(res);
                    var i = $("#advertise_layerid").attr("data-closeid");
                    layer.close(i);
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            },
            error: function(msg){
                console.log(msg)
            }
        });
    }

    function checkform_advertisement(){
        var title = $("#title").val();
        var project_type = $("#project_type").val();
        var adsiteid = $("#adsiteid").val();
        var adsenseid = $("#adsenseid").val();
        var btime = $("#btime").val();
        var etime = $("#etime").val();
        var materialid = $("#materialid").val();
        if(!title){
            layer.msg("广告名称不能为空", {icon:5});
            return false;
        } else if(!project_type || (project_type == -1)){
            layer.msg("投放形式不能为空", {icon:5});
            return false;
        } else if(!adsiteid || (adsiteid == -1)){
            layer.msg("站点不能为空", {icon:5});
            return false;
        }  else if(!adsenseid || (adsenseid == -1)){
            layer.msg("广告位不能为空", {icon:5});
            return false;
        } else if(!btime || !etime){
            layer.msg("请选择时间", {icon:5});
            return false;
        }  else if(btime > etime){
            layer.msg("开始时间不得晚于结束时间", {icon:5});
            return false;
        }   else if(!materialid){
            layer.msg("请添加素材", {icon:5});
            return false;
        } else {
            return true;
        }
    }

    // 添加广告逻辑处理
    function add_advertisement(){
        if(!checkform_advertisement())
        {
            return false;
        }
        var _form = $("#ads_form");
        $.ajax({
            type: "POST",
            url: _form.attr('action'),
            data: _form.serialize(),
            success: function(res) {
                if(res.code == 1){
                    layer.closeAll();
                    layer.msg('投放成功,请刷新页面查看', {icon:1});
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            }
        });
    }

    // 根据选中的 project_type 类型弹出: 文字素材、图片素材、文图素材添加层
    function add_material_ajax(){
        var project_type = $("#project_type").val();
        if(project_type == -1)
		{
            layer.msg("请选择投放形式", {icon:5});return false;
		}
        var adsenseid = $("#adsenseid").val();
        var adsiteid = $("#adsiteid").val();
        if(!adsenseid || (adsenseid == -1) || !adsiteid || (adsiteid == -1))
        {
            layer.msg("请选择站点和广告位", {icon:5});return false;
        }
        if(project_type == 1) {
            var template_url = '{:url("add_text_material")}' + '?' + 'project_type=' + project_type + '&adsenseid=' + adsenseid + '&adsiteid=' + adsiteid;
        } else if(project_type == 2)
        {
            var template_url = '{:url("add_image_material")}'  + '?' + 'project_type=' + project_type + '&adsenseid=' + adsenseid + '&adsiteid=' + adsiteid;
        } else if(project_type == 3)
        {
            var template_url = '{:url("add_info_material")}' + '?' + 'project_type=' + project_type + '&adsenseid=' + adsenseid + '&adsiteid=' + adsiteid;
        }
        console.log("点击");
        $.ajax({
            method: "GET",
            url: template_url,
            success:function(html){
                var i = layer.open({
                    type: 1,
                    offset: '87px',
                    area: ['1000px', '562px'],
                    content: html //注意，如果str是object，那么需要字符拼接。
                });
                $("#advertise_layerid").attr("data-closeid", i);
            }
        })

    }
    // 添加图文素材操作
    function add_info_materal(){
        // 根据 project_type 类型判断是什么素材的操作
        var layer_project_type = $("#layer_project_type").val();
        var _form = $("#add_info_material_form");
        if(!checkform_info_material())
        {
            return false;
        }
        $.ajax({
            type: "POST",
            url: _form.attr('action'),
            data: _form.serialize(),
            success: function(res) {
                if(res.code == 1){
                    advertisement_material_func(res);
                    var i = $("#advertise_layerid").attr("data-closeid");
                    layer.close(i);
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            }
        });
    }

    // 图片素材表单检查
    function checkform_image_material(){
        var material_title = $("#material_title").val();
        var image_url = $("#image_url").val();
        var click_url = $("#click_url").val();
        var click_url = $("#click_url").val();
        var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
        var regex = new RegExp(expression);
        if(!material_title){
            layer.msg("素材名称不能为空", {icon:5});
            return false;
        } else if(!image_url){
            layer.msg("图片不能为空", {icon:5});
            return false;
        } else if(!click_url || (!click_url.match(regex))){
            layer.msg("文字链接不能为空或格式不正确", {icon:5});
            return false;
        } else {
            return true;
        }
    }

    // 添加图片素材操作
    function add_image_materal(){
        var layer_project_type = $("#layer_project_type").val();
        var _form = $("#add_image_material_form");
        if(!checkform_image_material())
        {
            return false;
        }
        $.ajax({
            type: "POST",
            url: _form.attr('action'),
            data: _form.serialize(),
            success: function(res) {
                if(res.code == 1)
                {
                    advertisement_material_func(res);
                    var i = $("#advertise_layerid").attr("data-closeid");
                    layer.close(i);
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            }
        });
    }

    // 编辑图片素材操作
    function edit_image_materal(){
        var _form = $("#add_image_material_form");
        if(!checkform_image_material())
        {
            return false;
        }
        $.ajax({
            type: "POST",
            url: _form.attr('action'),
            data: _form.serialize(),
            success: function(res) {
                if(res.code == 1)
                {
                    advertisement_material_update_func(res);
                    var i = $("#advertise_layerid").attr("data-closeid");
                    layer.close(i);
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            }
        });
    }

    // 修改图文素材操作
    function edit_info_materal(){
        var layer_project_type = $("#layer_project_type").val();
        var _form = $("#add_info_material_form");
        if(!checkform_info_material())
        {
            return false;
        }
        $.ajax({
            type: "POST",
            url: _form.attr('action'),
            data: _form.serialize(),
            success: function(res) {
                if(res.code == 1){
                    advertisement_material_update_func(res);
                    var i = $("#advertise_layerid").attr("data-closeid");
                    layer.close(i);
                } else {
                    layer.msg(res.msg, {icon:5});
                }
            }
        });
    }

    // 编辑文字素材、图片素材、图文素材弹出层
    function edit_material_ajax(obj){
        var _url = $(obj).attr('data-href');
        if (!_url) {
            layer.msg('请设置href参数');
            return false;
        }
        $.ajax({
            method: "GET",
            url: _url,
        }).done(function(html){
            var i = layer.open({
                type: 1,
				offset:"87px",
                area: ['1000px', '562px'],
                content: html //注意，如果str是object，那么需要字符拼接。
            });
            $("#advertise_layerid").attr("data-closeid", i);
        })
    }

    function add_choosed_materials(){
        var list = {};
        $('#my_material_table input:checkbox[name="choose_materialid"]:checked').each(function(i,val) {
            list[$(val).val()] = $(val).attr("data-title");
        });
        func_list(list);

        var i = $("#advertise_layerid").attr("data-closeid");
        layer.close(i)
    }

    // 弹出选择层
    function choose_material_ajax(){
        var project_type = $("#project_type").val();
        var adsenseid = $("#adsenseid").val();
        var adsiteid = $("#adsiteid").val();
        if(!adsenseid || !adsiteid)
        {
            layer.msg("请选择站点和广告位", {icon:5});return false;
        }
        $.ajax({
            method: "GET",
            url: '/innerads/innerads/getmateriallist.html?project_type=' + project_type + '&adsenseid=' + adsenseid + '&adsiteid=' + adsiteid,
        }).done(function(html){
            var i = layer.open({
                type: 1,
                offset: '87px',
                area: ['1000px', '562px'],
                content: html //注意，如果str是object，那么需要字符拼接。
            });
            $("#advertise_layerid").attr("data-closeid", i);
        })
    }


</script>
<script>

    // 加载所有广告
    function loadPosition()
    {
        var adsite = $("#my_site").val();
        $('#my_position').html("");

        var option = $("<option>全部</option>");
        $('#my_position').append(option);

        $.ajax({
            method: "POST",
            url: "{:url('ads/ads/getposition')}",
            data: {adsite: adsite}
        }).done(function(data){
            eval("var data=" + data + "");
            var options = '';
            $.each(data, function(i, item){
                var option = $("<option>").val(item.id).text(item.sensename);

                // 在编辑状态时，选中广告位的值
                var selected_adsenseid = $("#selected_adsenseid").val();

                $('#my_position').append(option);

                if(selected_adsenseid)
                {
                    $("#my_position").find("option[value = '"+selected_adsenseid+"']").attr("selected","selected");
                }
            })
        })
    }

    $(function () {
        loadPosition();
    })
</script>
{/block}
